<!doctype html>

<head>



    <script type="text/javascript" src="{{ url_for('static', filename = 'js/click.js') }}">
    </script>

</head>

<body>


    <div id='quoteHolder'>
        Quote:
        <div id='text'>
            {{quote['quoteText']}}
        </div>
    </div>

    <div id='authorHolder'>
        Author: {% if quote['quoteAuthor'] != "" %}
        <div id='author'>
            {{quote['quoteAuthor']}}
        </div>
        {% else %}
        <div id='author'>
            Not known
        </div>
        {% endif %}
    </div>

    <div>
        <p> Resources for help </p>
        <ul>
            <ul>
                <a href="http://tinybuddha.com/"> Tiny Buddha</a>
            </ul>
            <ul>
                <a href="https://www.adaa.org/tips-manage-anxiety-and-stress"> Tips for managing stress </a>
            </ul>
        </ul>
    </div>
    <div>
        <img src="{{url_for('static', filename='images/breathing.gif')}}" alt="Try to take deep breaths">
    </div>





</body>








</html>