<!doctype html>

<head>



    <script type="text/javascript" src="{{ url_for('static', filename = 'click.js') }}">
    </script>

</head>

<body>


    <div id='quoteHolder'>
        Quote:
        <div id='text'>
            {{quote['quoteText']}}
        </div>
    </div>

    <div id='authorHolder'>
        Author: {% if quote['quoteAuthor'] != "" %}
        <div id='author'>
            {{quote['quoteAuthor']}}
        </div>
        {% else %}
        <div id='author'>
            Not known
        </div>
        {% endif %}
    </div>






</body>








</html>